*volumetricMeshFilename
#examples/armadillo/armadillo-fine-inhomo.veg
examples/armadillo/armadillo-fine.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
StVK
#Anisotropic

*renderingMeshFilename
examples/armadillo/armadillo-fine-veg.obj

*objectRenderSurfaceMeshFilename
examples/armadillo/armadillo.obj

*objectRenderSurfaceMeshInterpolationFileName
examples/armadillo/armadillo-fine.interp

#*fixedVerticesFilename
#examples/armadillo/armadillo-fine-fixed.bou

*massMatrixFilename
examples/armadillo/armadillo-fine.mass

*outputFileNameBase
examples/armadillo/output_file/obj_file

#*forceLoadsFilename
#examples/armadillo/force.txt

*lightingConfigFilename
examples/armadillo/armadillo.lighting

*elasticTensorFilename
examples/armadillo/test_elastic_tensor.txt

*timeStep
0.001

*timestepPerOutputFile
1
*dampingMassCoef
0.1

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0

*baseFrequency
0.5

*planeNumber
1

*planesFilename
examples/armadillo/planes.config

*addGravity
true

*g
#0
9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
-2.0

*syncTimestepWithGraphics
0

