*volumetricMeshFilename
#examples/heart/fine/heart.veg
examples/heart/fine/heart-inhomo.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#Anisotropic
StVK
#CLFEM

*renderingMeshFilename
examples/heart/fine/heart-fine-veg.obj

*objectRenderSurfaceMeshFilename
examples/heart/heart-render.obj

*objectRenderSurfaceMeshInterpolationFileName
examples/heart/fine/heart-fine.interp

#*fixedVerticesFilename
#examples/heart/fine/heart-fine-fixed.bou

*massMatrixFilename
examples/heart/fine/heart-fine.mass

*outputFileNameBase
obj/heart/fine-obj/obj_file

#*forceLoadsFilename
#examples/heart/fine/force.txt

*lightingConfigFilename
examples/heart/heart.lighting


*timeStep
0.001

*frame_rate
30

*totalFrame
200

*timestepPerOutputFile
1

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0

*baseFrequency
0.5

*planeNumber
1

*planesFilename
examples/heart/planes.config

*addGravity
true

*g
#0
9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0

