*volumetricMeshFilename
examples/heart/coarse/heart-coarse.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#Anisotropic
StVK

*renderingMeshFilename
examples/heart/coarse/heart-coarse-surface-mesh.obj

*objectRenderSurfaceMeshFileNum
3
*objectRenderSurfaceMeshFilename0
examples/heart/heart-render0.obj
*objectRenderSurfaceMeshInterpolationFileName0
examples/heart/coarse/heart-coarse0.interp

*objectRenderSurfaceMeshFilename1
examples/heart/heart-render1.obj
*objectRenderSurfaceMeshInterpolationFileName1
examples/heart/coarse/heart-coarse1.interp

*objectRenderSurfaceMeshFilename2
examples/heart/heart-render2.obj
*objectRenderSurfaceMeshInterpolationFileName2
examples/heart/coarse/heart-coarse2.interp

#*fixedVerticesFilename
#examples/heart/coarse/heart-coarse-fixed.bou

*massMatrixFilename
examples/heart/coarse/heart-coarse.mass

*outputFileNameBase
obj/heart/coarse/obj_file


*lightingConfigFilename
examples/heart/heart.lighting

*elasticTensorFilename
examples/heart/coarse/coarse-elastic-tensor.txt

*timeStep
0.001

*frame_rate
30

*totalFrame
500

*timestepPerOutputFile
1

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0

*baseFrequency
0.5

*planeNumber
1

*planesFilename
examples/heart/planes.config

*addGravity
true

*g
#0
9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0

