*volumetricMeshFilename
examples/rabbit/fine/rabbit-inhomo.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#Anisotropic
StVK
#CLFEM

*renderingMeshFilename
examples/rabbit/fine/rabbit-fine-veg.obj

*objectRenderSurfaceMeshFilename
examples/rabbit/rabbit-render.obj

*objectRenderSurfaceMeshInterpolationFileName
examples/rabbit/fine/rabbit-fine.interp

#*fixedVerticesFilename
#examples/rabbit/fine/rabbit-fine-fixed.bou

*massMatrixFilename
examples/rabbit/fine/rabbit-fine.mass

*outputFileNameBase
obj/rabbit/fine-obj/obj_file


*lightingConfigFilename
examples/rabbit/rabbit.lighting


*timeStep
0.001

*frame_rate
30

*totalFrame
500

*timestepPerOutputFile
1

*dampingMassCoef
0.1

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0

*baseFrequency
0.5

*planeNumber
2

*planesFilename
examples/rabbit/planes.config

*addGravity
true

*g
#0
9.8

*cameraRadius
15

*cameraLongitude
-150

*cameraLattitude
4

*focusPositionY
2.0

*syncTimestepWithGraphics
0

