*volumetricMeshFilename
examples/rabbit/coarse/rabbit-coarse.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#Anisotropic
StVK
#CLFEM

*renderingMeshFilename
examples/rabbit/coarse/rabbit-coarse-veg.obj

*objectRenderSurfaceMeshFilename
examples/rabbit/rabbit-render.obj

*objectRenderSurfaceMeshInterpolationFileName
examples/rabbit/coarse/rabbit-coarse.interp

#*fixedVerticesFilename
#examples/rabbit/coarse/rabbit-coarse-fixed.bou

*massMatrixFilename
examples/rabbit/coarse/rabbit-coarse.mass

*outputFileNameBase
obj/rabbit/coarse-obj/obj_file

#*forceLoadsFilename
#examples/rabbit/coarse/force.txt

*lightingConfigFilename
examples/rabbit/rabbit.lighting

#*elasticTensorFilename
#examples/rabbit/coarse/coarse-elastic-tensor.txt

*timeStep
0.001

*frame_rate
30

*totalFrame
500

*timestepPerOutputFile
1

*dampingMassCoef
0.1

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0

*baseFrequency
0.5

*planeNumber
2

*planesFilename
examples/rabbit/planes.config

*addGravity
true

*g
#0
9.8

*cameraRadius
15

*cameraLongitude
-150

*cameraLattitude
4

*focusPositionY
2.0

*syncTimestepWithGraphics
0

