*volumetricMeshFilename
#examples/arm/arm-fine-inhomo.veg
examples/arm/arm-fine.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
Anisotropic

*renderingMeshFilename
examples/arm/arm-fine.obj

*objectRenderSurfaceMeshFilename
examples/arm/arm.obj

*objectRenderSurfaceMeshInterpolationFileName
examples/arm/arm-fine.interp

#*fixedVerticesFilename
#examples/arm/arm-fine-fixed.bou

*massMatrixFilename
examples/arm/arm-fine.mass

*outputFileNameBase
examples/arm/output_file/obj_file

#*forceLoadsFilename
#examples/arm/force.txt

*lightingConfigFilename
examples/arm/arm.lighting

*elasticTensorFilename
examples/arm/homo_elastic_tensor.txt

*timeStep
0.001

*frame_rate
30

*totalFrame
10

*timestepPerOutputFile
1

*dampingMassCoef
0.1

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0

*baseFrequency
0.5

*planeNumber
1

*planesFilename
examples/arm/planes.config

*addGravity
true

*g
#0
98

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0

