*volumetricMeshFilename
models/arm/arm-coarse.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
Anisotropic

*renderingMeshFilename
models/arm/arm-coarse-veg.obj

*objectRenderSurfaceMeshFilename
models/arm/arm.obj

*objectRenderSurfaceMeshInterpolationFileName
models/arm/arm-coarse.interp

#*fixedVerticesFilename
#models/arm/arm-coarse-fixed.bou

*massMatrixFilename
models/arm/arm-coarse.mass

*outputFileNameBase
models/arm/obj_file/obj_file

#*forceLoadsFilename
#models/arm/force.txt

*lightingConfigFilename
examples/arm/arm.lighting

*elasticTensorFilename
models/arm/homo_elastic_tensor.txt

*timestep
0.0005

*timestepPerOutputFile
1
*dampingMassCoef
0.1

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0

*baseFrequency
0.5

*planeNumber
1

*planesFilename
models/arm/planes.config

*addGravity
true

*g
#0
9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
-2.0

*syncTimestepWithGraphics
0

