*volumetricMeshFilename
examples/bar-3/fine/bar-fine-inhomo.veg
#examples/bar-3/fine/bar-homo.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
StVK
#Anisotropic

*renderingMeshFilename
examples/bar-3/fine/bar-fine-veg.obj

*objectRenderSurfaceMeshFileNum
1

*objectRenderSurfaceMeshFilename0
examples/bar-3/bar-render.obj

*objectRenderSurfaceMeshInterpolationFileName0
examples/bar-3/fine/bar-fine.interp

#*fixedVerticesFilename
#examples/bar-3/fine/bar-fine-fixed.bou

*massMatrixFilename
examples/bar-3/fine/bar-fine.mass

*outputFileNameBase
obj/bar-3/fine/obj_file

#*forceLoadsFilename
#examples/bar-3/fine/force.txt

*lightingConfigFilename
examples/bar-3/bar.lighting


*timeStep
0.001

*frame_rate
30

*totalFrame
500

*timestepPerOutputFile
1

*dampingMassCoef
0.1

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0

*baseFrequency
0.5

*planeNumber
6

*planesFilename
examples/bar-3/planes.config

*addGravity
true

*g
#0
9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0

