###################
#horizonal plane

*planeEnabled_0
1

*planeFrictionMu_0
0.1

*planeCenter_0_X
25.0

*planeCenter_0_Y
-18

*planeCenter_0_Z
0.0

*planeNormal_0_X
1.0

*planeNormal_0_Y
1.732

*planeNormal_0_Z
0.0

*planeSize_0
100.0

*planeColor_0_X
0

*planeColor_0_Y
0.2

*planeColor_0_Z
0.8

*planeAmbient_0
0.8

*planeDiffuse_0
0.5

*planeSpecular_0
0.5

*planeShininess_0
1.0


*planeEnabled_1
1


*planeFrictionMu_1
0.1

*planeCenter_1_X
60.0

*planeCenter_1_Y
-30

*planeCenter_1_Z
0.0

*planeNormal_1_X
0.0

*planeNormal_1_Y
1.0

*planeNormal_1_Z
0.0

*planeSize_1
60.0

*planeColor_1_X
0.8

*planeColor_1_Y
0.0

*planeColor_1_Z
0.8

*planeAmbient_1
0.8

*planeDiffuse_1
0.5

*planeSpecular_1
0.5

*planeShininess_1
1.0
