*volumetricMeshFilename
#examples/cube/cube-fine-inhomo.veg
examples/cube/cube-fine.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
StVK

*renderingMeshFilename
examples/cube/cube-fine.obj

*timestep
0.01

*dampingMassCoef
1.0

*dampingStiffnessCoef
0.01

*deformableObjectCompliance
30.0

*baseFrequency
0.5

*lightingConfigFilename
examples/cube/cube.lighting

*massMatrixFilename
examples/cube/cube-fine.mass

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
3.0

*syncTimestepWithGraphics
0

