###################
#left_wall

*planeEnabled_0
1

*planeFrictionMu_0
0.1

*planeCenter_0_X
-6.0

*planeCenter_0_Y
-17.0

*planeCenter_0_Z
0.0

*planeNormal_0_X
1.0

*planeNormal_0_Y
0.0

*planeNormal_0_Z
0.0

*planeSize_0
50.0

*planeColor_0_X
0.5

*planeColor_0_Y
0.9

*planeColor_0_Z
0.9

*planeAmbient_0
0.8

*planeDiffuse_0
0.5

*planeSpecular_0
0.5

*planeShininess_0
1.0

#right_wall

*planeEnabled_1
1

*planeFrictionMu_1
0.1

*planeCenter_1_X
14.0

*planeCenter_1_Y
-17.0

*planeCenter_1_Z
0.0

*planeNormal_1_X
-1.0

*planeNormal_1_Y
0.0

*planeNormal_1_Z
0.0

*planeSize_1
50.0

*planeColor_1_X
0.5

*planeColor_1_Y
0.9

*planeColor_1_Z
0.9

*planeAmbient_1
0.8

*planeDiffuse_1
0.5

*planeSpecular_1
0.5

*planeShininess_1
1.0

# ground

*planeEnabled_2
1

*planeFrictionMu_2
0.1

*planeCenter_2_X
1.0

*planeCenter_2_Y
-45

*planeCenter_2_Z
0.0

*planeNormal_2_X
0.0

*planeNormal_2_Y
1.0

*planeNormal_2_Z
0.0

*planeSize_2
60.0

*planeColor_2_X
0.5

*planeColor_2_Y
0.9

*planeColor_2_Z
0.9

*planeAmbient_2
0.8

*planeDiffuse_2
0.5

*planeSpecular_2
0.5

*planeShininess_2
1.0


#stair1

*planeEnabled_3
1

*planeFrictionMu_3
0.1

*planeCenter_3_X
-1.0

*planeCenter_3_Y
-6.0

*planeCenter_3_Z
0.0

*planeNormal_3_X
1.0

*planeNormal_3_Y
1.732

*planeNormal_3_Z
0.0

*planeSize_3
12.0

*planeColor_3_X
0.5

*planeColor_3_Y
0.9

*planeColor_3_Z
0.9

*planeAmbient_3
0.8

*planeDiffuse_3
0.5

*planeSpecular_3
0.5

*planeShininess_3
1.0


#stair2

*planeEnabled_4
1

*planeFrictionMu_4
0.1

*planeCenter_4_X
9.0

*planeCenter_4_Y
-15.0

*planeCenter_4_Z
0.0

*planeNormal_4_X
-1.0

*planeNormal_4_Y
1.732

*planeNormal_4_Z
0.0

*planeSize_4
12.0

*planeColor_4_X
0.5

*planeColor_4_Y
0.9

*planeColor_4_Z
0.9

*planeAmbient_4
0.8

*planeDiffuse_4
0.5

*planeSpecular_4
0.5

*planeShininess_4
1.0

#stair3

*planeEnabled_5
1

*planeFrictionMu_5
0.1

*planeCenter_5_X
-1.0

*planeCenter_5_Y
-24.0

*planeCenter_5_Z
0.0

*planeNormal_5_X
1.0

*planeNormal_5_Y
1.732

*planeNormal_5_Z
0.0

*planeSize_5
12.0

*planeColor_5_X
0.5

*planeColor_5_Y
0.9

*planeColor_5_Z
0.9

*planeAmbient_5
0.8

*planeDiffuse_5
0.5

*planeSpecular_5
0.5

*planeShininess_5
1.0

#stair4

*planeEnabled_6
1

*planeFrictionMu_6
0.1

*planeCenter_6_X
9.0

*planeCenter_6_Y
-33.0

*planeCenter_6_Z
0.0

*planeNormal_6_X
-1.0

*planeNormal_6_Y
1.732

*planeNormal_6_Z
0.0

*planeSize_6
12.0

*planeColor_6_X
0.5

*planeColor_6_Y
0.9

*planeColor_6_Z
0.9

*planeAmbient_6
0.8

*planeDiffuse_6
0.5

*planeSpecular_6
0.5

*planeShininess_6
1.0

