*volumetricMeshFilename
examples/T/fine/T-inhomo.veg
#examples/T/fine/T.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
StVK
#Anisotropic


*renderingMeshFilename
examples/T/fine/T-fine-surface-mesh.obj
#*initialSurfaceMeshFilename
#examples/T/fine/T-fine-initial-surface-mesh.obj

*objectRenderSurfaceMeshFileNum
1

*objectRenderSurfaceMeshFilename0
examples/T/T-render.obj

*objectRenderSurfaceMeshInterpolationFileName0
examples/T/fine/T-fine.interp

*fixedVerticesFilename
examples/T/fine/T-fine-fixed.bou

*massMatrixFilename
examples/T/fine/T-fine.mass

*outputFileNameBase
obj/T/fine/obj_file

#*forceLoadsFilename
#examples/T/fine/force.txt

*lightingConfigFilename
examples/T/T.lighting


*timeStep
0.001

*frame_rate
30

*totalFrame
300

*timestepPerOutputFile
1

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.01

*deformableObjectCompliance
10.0

*planeNumber
0

*planesFilename
examples/T/planes.config

*addGravity
true

*g
#0
9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
-3.0

*syncTimestepWithGraphics
0

