*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#Anisotropic
StVK
#CLFEM

*volumetricMeshFilename
#examples/flower/fine/flower.veg
examples/flower/fine/flower-inhomo.veg


*renderingMeshFilename
examples/flower/fine/flower-fine-surface-mesh.obj
*initialSurfaceMeshFilename
examples/flower/fine/flower-fine-initial-surface-mesh.obj

*objectRenderSurfaceMeshFileNum
1

*objectRenderSurfaceMeshFilename0
examples/flower/flower-render.obj

*objectRenderSurfaceMeshInterpolationFileName0
examples/flower/fine/flower-fine.interp

*fixedVerticesFilename
examples/flower/fine/flower-fine-fixed.bou

*massMatrixFilename
examples/flower/fine/flower-fine1.mass

*outputFileNameBase
obj/flower/fine/obj_file

#*forceLoadsFilename
#examples/flower/fine/force.txt

*lightingConfigFilename
examples/flower/flower.lighting


*timeStep
0.001

*frame_rate
30

*totalFrame
500

*timestepPerOutputFile
1

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0


*planeNumber
0

*planesFilename
examples/flower/planes.config

*addGravity
true

*g
0
#9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0

