*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#Anisotropic
StVK
#CLFEM

*volumetricMeshFilename
examples/flower/coarse/flower-coarse.veg

*renderingMeshFilename
examples/flower/coarse/flower-coarse-surface-mesh.obj

*objectRenderSurfaceMeshFileNum
1
*objectRenderSurfaceMeshFilename0
examples/flower/flower-render.obj

*objectRenderSurfaceMeshInterpolationFileName0
examples/flower/coarse/flower-coarse.interp

*fixedVerticesFilename
examples/flower/coarse/flower-coarse-fixed.bou

*massMatrixFilename
examples/flower/coarse/flower-coarse.mass

*outputFileNameBase
obj/flower/coarse/obj_file

#*forceLoadsFilename
#examples/flower/coarse/force.txt

*lightingConfigFilename
examples/flower/flower.lighting

#*elasticTensorFilename
#examples/flower/coarse/coarse-elastic-tensor.txt

*timeStep
0.001

*frame_rate
30

*totalFrame
500

*timestepPerOutputFile
1

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0

*baseFrequency
0.5

*planeNumber
0

*planesFilename
examples/flower/planes.config

*addGravity
true

*g
0
#9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0

