*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#Anisotropic
#StVK
#CLFEM
InvertibleFEM

*invertibleMaterial
StVK

*volumetricMeshFilename
#examples/plant/fine/plant.veg
examples/plant/fine/plant-inhomo.veg


*renderingMeshFilename
examples/plant/fine/plant-fine-surface-mesh.obj
*initialSurfaceMeshFilename
examples/plant/fine/plant-fine-initial-surface-mesh1.obj

*objectRenderSurfaceMeshFileNum
1

*objectRenderSurfaceMeshFilename0
examples/plant/plant-render.obj

*objectRenderSurfaceMeshInterpolationFileName0
examples/plant/fine/plant-fine.interp

*fixedVerticesFilename
examples/plant/fine/plant-fine-fixed.bou

*massMatrixFilename
examples/plant/fine/plant-fine.mass
*outputFileNameBase
obj/plant/fine3/obj_file

#*forceLoadsFilename
#examples/plant/fine/force.txt

*lightingConfigFilename
examples/plant/plant.lighting


*timeStep
0.0005

*frame_rate
30

*totalFrame
500

*timestepPerOutputFile
1

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.01

*deformableObjectCompliance
10.0


*planeNumber
0

#*planesFilename
#examples/plant/planes.config

*addGravity
true

*g
0
#9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0
*principalStretchThreshold
0.6
