*volumetricMeshFilename
examples/bar-bend/fine/bar-fine-inhomo.veg
#examples/bar-bend/fine/bar.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
StVK
#Anisotropic

*renderingMeshFilename
examples/bar-bend/fine/bar-fine-veg.obj

*initialSurfaceMeshFilename
examples/bar-bend/fine/bar-initial-surface-mesh1.obj

*objectRenderSurfaceMeshFileNum
1

*objectRenderSurfaceMeshFilename0
examples/bar-bend/bar-render.obj

*objectRenderSurfaceMeshInterpolationFileName0
examples/bar-bend/fine/bar-fine.interp

*fixedVerticesFilename
examples/bar-bend/fine/bar-fine-fixed.bou

*massMatrixFilename
examples/bar-bend/fine/bar-fine.mass

*outputFileNameBase
obj/bar-bend/fine/obj_file

#*forceLoadsFilename
#examples/bar-bend/fine/force.txt

*lightingConfigFilename
examples/bar-bend/bar.lighting


*timeStep
0.0005

*frame_rate
30

*totalFrame
500

*timestepPerOutputFile
1

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0


*planeNumber
1

*planesFilename
examples/bar-bend/planes.config

*addGravity
true

*g
0
#9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0

