*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
Anisotropic
#StVK
#CLFEM

*volumetricMeshFilename
examples/bar/coarse/bar-coarse.veg

*renderingMeshFilename
examples/bar/coarse/bar-coarse-veg.obj

*objectRenderSurfaceMeshFileNum
1
*objectRenderSurfaceMeshFilename0
examples/bar/bar-render.obj

*objectRenderSurfaceMeshInterpolationFileName0
examples/bar/coarse/bar-coarse.interp

*fixedVerticesFilename
examples/bar/coarse/bar-coarse-fixed.bou

*massMatrixFilename
examples/bar/coarse/bar-coarse.mass

*outputFileNameBase
obj/bar-twist/coarse/obj_file

#*forceLoadsFilename
#examples/bar/coarse/force.txt

*lightingConfigFilename
examples/bar/bar.lighting

*elasticTensorFilename
examples/bar/coarse/coarse-elastic-tensor.txt

*timeStep
0.001

*frame_rate
30

*totalFrame
300

*timestepPerOutputFile
1

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.01

*deformableObjectCompliance
10.0

*planeNumber
0

*planesFilename
examples/bar/planes.config

*addGravity
true

*g
#0
49

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0

