*volumetricMeshFilename
examples/bar/coarse/bar-coarse.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
Anisotropic
#StVK
#CLFEM

*corotationalLinearFEM_warp
1
*renderingMeshFilename
examples/bar/coarse/bar-coarse-veg.obj

*objectRenderSurfaceMeshFilename
examples/bar/bar-render.obj

*objectRenderSurfaceMeshInterpolationFileName
examples/bar/coarse/bar-coarse1.interp

*fixedVerticesFilename
examples/bar/coarse/bar-coarse-fixed.bou

*massMatrixFilename
examples/bar/coarse/bar-coarse.mass

*outputFileNameBase
obj/bar/coarse-obj/obj_file

#*forceLoadsFilename
#examples/bar/coarse/force.txt

*lightingConfigFilename
examples/bar/bar.lighting

*elasticTensorFilename
examples/bar/coarse/coarse-elastic-tensor.txt

*timeStep
0.001

*frame_rate
30

*totalFrame
500

*timestepPerOutputFile
1

*dampingMassCoef
0.1

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0

*baseFrequency
0.5

*planeNumber
0

*planesFilename
examples/bar/fine/planes.config

*addGravity
true

*g
#0
9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0

