
*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#Anisotropic
StVK
#CLFEM

*volumetricMeshFilename
#examples/bar/fine/bar.veg
examples/bar/fine/bar-inhomo.veg


*renderingMeshFilename
examples/bar/fine/bar-fine-veg.obj

*objectRenderSurfaceMeshFileNum
1

*objectRenderSurfaceMeshFilename0
examples/bar/bar-render.obj

*objectRenderSurfaceMeshInterpolationFileName0
examples/bar/fine/bar-fine.interp

*fixedVerticesFilename
examples/bar/fine/bar-fine-fixed.bou

*massMatrixFilename
examples/bar/fine/bar-fine.mass

*outputFileNameBase
obj/bar-twist/fine/obj_file

#*forceLoadsFilename
#examples/bar/fine/force.txt

*lightingConfigFilename
examples/bar/bar.lighting


*timeStep
0.001

*frame_rate
30

*totalFrame
300

*timestepPerOutputFile
1

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.01

*deformableObjectCompliance
10.0


*planeNumber
0

*planesFilename
examples/bar/planes.config

*addGravity
true

*g
#0
49

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0

