*volumetricMeshFilename
#examples/bar/fine/bar.veg
examples/bar/fine/bar-inhomo.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#Anisotropic
StVK
#CLFEM

*renderingMeshFilename
examples/bar/fine/bar-fine-veg.obj

*objectRenderSurfaceMeshFilename
examples/bar/bar-render.obj

*objectRenderSurfaceMeshInterpolationFileName
examples/bar/fine/bar-fine.interp

*fixedVerticesFilename
examples/bar/fine/bar-fine-fixed.bou

*massMatrixFilename
examples/bar/fine/bar-fine.mass

*outputFileNameBase
examples/bar/fine-obj/obj_file

#*forceLoadsFilename
#examples/bar/fine/force.txt

*lightingConfigFilename
examples/bar/bar.lighting


*timeStep
0.001

*frame_rate
30

*totalFrame
200

*timestepPerOutputFile
1

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.0

*deformableObjectCompliance
10.0

*baseFrequency
0.5

*planeNumber
0

*planesFilename
examples/bar/fine/planes.config

*addGravity
true

*g
0
#9.8

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
2.0

*syncTimestepWithGraphics
0

